/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}




/************************************* END FONTS *************************************/





.block ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.main-container h1 {
	font-size: 23px;
}

.main-container h2 {
	font-size: 17px;
}

.main-container p {
	font-size: 15px;
}

.main-container a {
	text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #0000008c;
}
	.main-container a:hover {
		text-decoration: none;
		color: white;
	}

.main-container h1, h2, p, a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #9099b7;
	}



.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}



.icon {
	font-size: 25px;
}







/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif;
    margin: 10px 0px 10px 0px;
    background: #ffffffa6;
    text-align: center;
    border-radius: 20px;
    max-width: 1200px;
    min-width: 300px;
    width: 100%;
}	
	/*********************************************** HEADER ***********************************************/
	.block{
		height: 80px;
	}
		.header-menu {
			font-size: 17px;
			line-height: 80px;
		}
			.header-menu li {
				position: relative;
        		-webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
			}
				.header-menu-tab {
					padding: 0 27px;
					display: block;
					line-height: 74px;
					font-size: 17px;
					-webkit-transition: background .3s;
					transition: background .3s;
				}
					.header-menu-tab:hover {
						background: #d4b743;
						border-bottom: 4px solid #463b0db8;
						text-decoration: none;
					}
					.header-menu-tab .icon {
						padding-right: 15px;
					}
				.header-menu-number {
					position: absolute;
					line-height: 22px;
					padding: 0 6px;
					font-weight: 700;
					background: #e64c65;
					border-radius: 100%;
					top: 15px;
					right: 2px;
					-webkit-transition: all .3s linear;
					transition: all .3s linear;
				}
					.header-menu li:hover .header-menu-number {
						text-decoration: none;
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);

					}
		
			
	
		.block {
			    
			    border-radius: 5px;
			    text-align: center;
			    
			    display: inline-flex;
			    justify-content: center;
			    height: auto;
		}
	