@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}
body {
 
  background: linear-gradient(to right, #a9a2e4, #94fdc3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI",Arial,sans-serif;
  margin: 0;

}



header{
  background: #ffffff8c;
  width: 100%;
  height: auto;
  webkit-box-shadow: 0px 7px 12px -6px rgb(128 128 128 / 0%);
    -moz-box-shadow: 0px 7px 12px -6px rgba(128,128,128,1);
    box-shadow: 0px 7px 12px -6px rgb(128 128 128 / 24%)
}


h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 97%;
  background: #f0f8ffb3;
  border-radius: 20px;
  padding: 40 0 40 0;
  
}
.cardTypes{
      width: 30px;
    height: auto;
    filter: opacity(0.8);
}

.pokemon{
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px 30px 20px 38px;
  text-align: center;
  width:200px;
  transition: transform .3s;
  cursor: pointer;
}
.pokemon .img-container:hover{
  background-color: #00000059;

}

.pokemon:hover {
    transform: scale(1.15);
    filter:drop-shadow(2px 4px 6px black)
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}
.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
    max-height: 100px;
}
.pokemon .info {
    margin-top: 20px;
    text-transform: capitalize;
}
.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}


.pokemon .name {
    
        text-transform: capitalize;
    font-weight: 600;
    color: white;
    margin: 10 0;
    font-size: 20px;
    background: #00000014;
    border-left-style: unset;
    border-radius: 15px;
    width: auto;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #0000000d;
}
.pagination{
 
display: flex;
 
max-width: 1000px;
 
background: #00000059;
 
padding: 5px;
 
border-radius: 10px;
}

.pagination a {
    color: white;
    float: left;
    padding: 15;
    text-decoration: none;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  background-color: #694f07;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  background-color: #06060682; 
  border-radius: 10px;
  font-weight: 900;
  text-align: center;
  
}
.pagination button{
  color: white;
  float: left;
  text-decoration: none;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 4px;
  background: transparent;
  font-size: 39px;
  cursor: pointer;

}
.pagination button:hover{
  float: left;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-top: 4px;
  background-color: #06060682;
}
.paginas{
  float:center;
}

.paginaActual{
  display: inline-flex;
  background: #00000070;
    font-size: 10px;
    padding: 0px 10px;
    margin: 3px;
    border-radius: 20px;
    height: 34px;
    font-weight: 200;
}

.paginaActual:hover{
  background:black;
}

.buscador{
  border: none !important;
    display: flex;
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 500px;
}
.btnBuscar{
  cursor: pointer;
  background: #d4b743;
  color: white;
  outline: 0;
  border: none !important;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  
}
.btnBuscar:hover{
  cursor: pointer;
  background: #060606b0;
  
  
}

.logo{
  
    width: 100%;
    padding-top: 8px;
    text-align: center;
}
.logo img {
   max-width: 26%;
    min-width: 250px;
   
}

.logo img:hover{
  filter: drop-shadow(2px 2px 2px black);

}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



input[type="search"] {
  -webkit-appearance: none !important;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}

input[type="search"]::placeholder {
  color: #00000059;
  font-size:15px;
  
}

.fontawesome-search{
  margin: 10px;
  font-size: 20px;
}



.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #f9d342;
  color: #292826;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

}

.button:hover,
.button:active,
.button:focus {
  cursor: pointer;
  background: #d4b743;
  color: #292826;
  outline: 0;
}

.subtitulo{
  height: 10px;
    position: relative;
}

.subtitulo p{
  font-size: 20px;
    color: #696969;
    text-align: left;
    font-weight: bold;
  display: inline-block;

}



.types ul{
  list-style:none;
  
  
  
  
}

.types{
  text-align:center;
  width:100%;
  background:rgb(255,255,255,0.3);
  max-width: 1200px;
  border-radius: 30px 30px 0px 3px;
  
    }

.types p{
  vertical-align: top;
  margin: auto;
  text-align: left;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 900;
  color: #ffffff !important;
  background: #f0f8ff26;
  border-radius: 27px;
  margin-right: 10px;
  padding: 0 0 0 0;
  margin-left: 0px;
  font-size:17px;
  
}
.types li{
  
  padding:10px;
  margin:10px;
  border-radius:40px;
  display:inline-block;
  min-width: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff14;
  transition-duration: .2s;
  cursor: pointer;

  
}
.types li:hover{
  
  transform: scale(1.2);
  filter: drop-shadow(2px 4px 6px black);

  
}

.types img{
  vertical-align: middle;
  width: 36px;
}

.img-types-filter{
  width: 20px;
    margin: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    filter: opacity(0.5);
}


.normal{
 background: #909ca2;

}
.bug{
  background:#84c400;
}
.grass{
  background: #35c04a;
}
.fire{
  background:#ff9c47;
}
.water{
  background: #3393dd;
}
.flying{
  background: #8aace4;
}
.poison{
  background: #b667cf;
}
.ground{
  background: #e97333;
}
.ghost{
  background:#4b6ab3;
}
.steel{
  background: #5a8fa3;
}
.electric{
  background: #fbd200;
}
.ice{
  background: #4bd2c1;
}
.psychic{
  background: #ff6676;
}
.dragon{
  background: #0271ca;
}
.dark{
  background:#5b5366;
}
.fairy{
  background: #fb8aec;
}
.fighting{
  background: #e0306a;
}
.rock{
  background: #c9b787;
}




/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalLoading{
  display: fixed; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  margin: auto;
  max-width: 900px;
  padding: 10px 15px;
}

.modaleLoadIMG{
  margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}

.modaleLoadIMG img{
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 10%;
    filter: brightness(0.5);
    border-radius: 25px;
    width: auto;
    text-align: center;
}

/* The Close Button */
.close, .closeModal {
      color: #f7d843;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: #00000054;
    text-align: center;
    border-radius: 0px 12px 0px 12px;
    width: auto;
    margin: 10px;
    padding: 0px 15px 4px 15px;
}

.close:hover,
.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
span.closeModal:hover {
    color: white;
    background-color: #0000009e
}

.infoModal{}
.infoModal p{
  color:white;
  display: inline-block;
  width: 100%;
  
}

.infoblock{

  margin: 0 auto;
    overflow: hidden;
    width: 100%;
    display: block;
    text-align: center;
    padding: 2%;
    max-width: 800px;
}

.infoblock:hover,.descripcion p:hover,.infoblock_footer:hover, 
.infoblock_title:hover, .numberP:hover, img.cardTypes:hover, 
.imagen:hover,h3.name:hover,span.number:hover{
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 45%));
}

.infoblock_footer{
  
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}



.infoblock_footer p{
    width: auto;
    background: #00000029;
    padding: 10px;
    border-radius: 40px 0px;
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    margin: 0px 5px 25px;
    max-width: 250px;
}



.infoModal .img-container {
    
    text-align: center;
    align-content: center;
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    max-height: auto;
    padding: 5% 0 0 0;

}

.infoModalPokeIMG{
      width: 100%;
    max-height: 200px;
}

.descripcion p{
      text-align: center;
    padding: 0px 15px;
    max-width: 600px;
    margin: auto;
    display: block;
    color: white;
    font-weight: 300;
    font-size: large;
}

.attackBar{
  display: inline-block;
  width: 200px;
}

.imagen{
  
  text-align: center;
  display: block;
  background-color: #ffffff7a;
  border-radius: 50%;
  padding: 5px 0px;
  width: 180px;
  height: 180px;
  margin: auto;
}

.numberP{
    background:#25252538;
    width: auto !important;
    height: 80px;
    text-align: center;
    padding: 4;
    font-size: -webkit-xxx-large;
    border-radius: 24px;
    font-weight: bolder;
    margin: 10 0 0 0;
    min-width: 80px;

}
.infoblock_title{
  text-transform: capitalize;
  font-size: -webkit-xxx-large;
  font-weight: 100;
  margin: 0px;
}

 
.infoblock_p_stats p{
  
    width: 50%;
    text-align: left;
}

.infoblock_p_stats{
   background: none;
    padding: 0px;
    margin: 0px;
    font-weight: 900;
    font-size: 1em;
    text-align: left;
}
.typesModal{
  width: 40px;
}

.genlist{
  width: 100%;
  background: #ffffffb3;
  border-radius: 20px;
  padding-top: 2px;
  text-align: center;;
}


.genList li{
 
    margin: 5px;
    
    display: inline-block;
    width: auto;
    
   
    transition-duration: .2s;
    
    text-align: center;
    height: auto;
    min-width: 90px;
    
}

.genList li:hover{
  filter: drop-shadow(2px 4px 6px black);
}



.genList img{
  
 height: 50px;
    border-radius: 50%;
    background: white;
    padding: 5px;
    border-style: solid;
    border-color: gold;
    border-width: 3px;
    cursor: pointer;
}
.genList p{
  color: white;
    background: #000000a3;
    border-radius: 35px;
    font-size: 14px;
    width: auto;
    font-weight: lighter;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}

span.close:hover {
    background: #000000a1;
    color: white;
}



.statsBarText{
      font-size: 12px;
    text-align: right;
    background: none;
    padding: 0 10px 0px 0px;
    margin: 6;
}

footer{
 height: auto;
   
    width: 100%;
    text-align: center;
    height: auto;
}

.pie{
  max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    background: #ffffff8a;
    height: 100%;
    padding: 15px 3%;
}

.pie img{
  height: 50px;
    float: left;
    filter: opacity(0.5);
}

.pie p{
       display: inline-block;
    float: right;
    color: #00000087;
    font-weight:300;
    font-size: 20px;
}

.pie a{
  color: #ffc928;
    text-decoration: none;
}