@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  margin: 0;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  
}
.pokemon{
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width:200px;
}
.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}
.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}
.pokemon .info {
    margin-top: 20px;
    text-transform: capitalize;
}
.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}
.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.pagination{
  max-width: 1060px;
  display:flex;
}

.pagination a {
  color: black;
    float: left;
    padding: 15;
    text-decoration: none;
    background-color: #e0bd22;
    border-radius: 200px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.pagination button{
  color: black;
  float: left;
  padding: 16px;
  text-decoration: none;
  border:none;
  border-radius: 150px;
  width: 59px;
}